@model Gastroworld.Models.Model.Usuarios
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}
<link href="~/css/Ajustes.css" rel="stylesheet" />
<style>
    .color{
        color:white;
        text-align:center;
    }

    .fondo {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url("https://lendan.com/wp-content/uploads/2019/01/influencia-alimentacion-piel.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: 1;
        padding: 20px;
        color: black;
    }
</style>
<div class="fondo">
        <div class="menu-container">
            <h2 class="menu-title">Editar <span>Perfil</span></h2>

            <form asp-controller="Ajustes" asp-action="ActualizarUsuario" method="post" class="menu-content">

                <label class="input-label">Nombre</label>
                <input type="text" name="nombre" asp-for="nombre" class="menu-input" required />

                <label class="input-label">Correo Electrónico</label>
                <input type="email" name="email" asp-for="email" class="menu-input" required />

                <label class="input-label">Contraseña</label>
                <input type="password" name="password" asp-for="password" class="menu-input" required />

                <label class="input-label">Tipo de Usuario</label>
                <select name="tipo_usuario" asp-for="tipo_usuario" class="menu-input">
                    <option value="Usuario">Usuario</option>
                    <option value="Empresa">Empresa</option>
                </select>

                <div class="button-container">
                    <button class="botton" type="submit">Guardar cambios</button>
                </div>
            </form>

            @if (ViewBag.Mensaje != null)
            {
                <p style="color: green; text-align: center;">@ViewBag.Mensaje</p>
            }

            @if (ViewBag.Error != null)
            {
                <p style="color: red; text-align: center;">@ViewBag.Error</p>
            }
        </div>
    <div class="menu-container">
        <h2 class="menu-title">Tu <span>Informacion</span></h2>
        <div class="button-container">
            <a asp-area="" asp-controller="Pgprincipal" asp-action="CargarView" class="button">Salir</a>
        </div>
    </div>
    </div>

