@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/ajustes.css" rel="stylesheet" />
<style>
    .fondo {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-image: url("https://lendan.com/wp-content/uploads/2019/01/influencia-alimentacion-piel.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: 1;
        padding: 20px;
        color: white;
    }
</style>
<div class="fondo">
    <form asp-action="Ajustes" method="post">
        <div class="menu-container">
            <div class="menu-content">
                <h1 class="menu-title">Gastroworld <span>Tu cuenta</span></h1>

                <div class="section">
                    <label for="nombre" class="input-label">Nombre</label>
                    <input id="nombre" class="menu-input" required type="text" placeholder="Ingrese su nombre">
                </div>

                <div class="section">
                    <label for="correo" class="input-label">Correo Electrónico</label>
                    <input id="correo" class="menu-input" required type="email" placeholder="Ingrese su correo">
                </div>

                <div class="section">
                    <label for="contrasena" class="input-label">Contraseña</label>
                    <input id="contrasena" class="menu-input" required type="password" placeholder="Ingrese su contraseña">
                </div>

                <div class="section">
                    <label for="userType" class="input-label">Tipo de Usuario</label>
                    <select required class="menu-input" name="userType" id="userType">
                        <option value="Chef">Chef</option>
                        <option value="Usuario">Usuario</option>
                        <option value="Empresa">Empresa</option>
                    </select>
                </div>

                <div class="button-containe">
                    <button class="boton" type="submit">Guardar cambios</button>
                </div>
            </div>
            <div class="menu-image" style="background: url('../imagenes/ajustes-cuenta.jpg') no-repeat center center/cover;"></div>
        </div>
    </form>
</div>