@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/sobrenosotros.css" rel="stylesheet" />
<style>

</style>
<link rel="stylesheet" href="~/css/SobreNosotros.css">
<div class="fondo">
<div class="contenedor ">
    <div class="card">
        <div class="image"></div>
        <div class="content">
                <span class="title">
                    <h1>GastroWord</h1>
                </span>
            <p class="desc">
                    GastroWord es una plataforma digital que organiza y facilita el acceso a información sobre gastronomía, 
                    nutrición y cocina. Proporciona recetas accesibles, consejos de compra y técnicas básicas para que cualquier persona,
                    sin importar su nivel de experiencia, pueda mejorar su alimentación de manera saludable y económicamente sostenible.
                    <br />
                    Nuestro Equipo:
                    <br />
                    • Juan Sebastián Sánchez, Diego Moreno y Víctor Díaz: Somos Programadores junior con una gran pasión por la tecnología y
                     la gastronomía, estamos dedicados al desarrollo de GastroWord para que sea intuitiva, accesible y funcional para todos.
                     <br />
                    ¡Gracias por registrarte en nuestra página! Tu apoyo es fundamental para que podamos seguir mejorando y 
                    ofreciendo contenido de calidad.
            </p>
                <div class="image-container">
                    <img src="~/imagenes/1.jpg" />
                </div>
        </div>
    </div>
</div>
</div>