@{
    Layout = "_Layout";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="~/css/login.css" rel="stylesheet" />
<title>Login Básico</title>
<style>
    .fondo {
        margin: 0;
        padding: 0px;
        height: 800px;
        background-image: url("https://lendan.com/wp-content/uploads/2019/01/influencia-alimentacion-piel.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: 1;
        padding: 20px;
        color: black;
    }
</style>
    <main class="fondo">
    <div class="login-container">
            <div class="text-header">Inicio sesión</div>
            <form id="loginForm">
                <div class="form-group">
                    <label for="username">Usuario:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Entrar</button>
                <div>
                    <br />
                    <a asp-area="" asp-controller="Registro" asp-action="Registro" class="letra">¿No tienes cuenta? ¡Regístrate!</a>
                </div>
            </form>
    </div>
    </main>
    <script>
        document.getElementById('loginForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/api/Login/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ usuario: username, password: password })
            });

            if (response.ok) {
                const data = await response.json();
                    // alert(`Inicio de sesión exitoso. Bienvenido ${data.user.LUsuario}`);
                    Swal.fire({
                    icon: 'success',
                    title: '¡Bienvenido!',
                    text: 'Has iniciado sesión correctamente.',
                    confirmButtonText: 'Continuar',
                    allowOutsideClick: false // Evita que el usuario lo cierre haciendo clic fuera
                }).then(() => {
                    window.location.href = '/Pgprincipal2/Pgprincipal2';
                });
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: '¡Algo pusiste mal!',
                    text: 'verifica tu usuario o contraseña',
                    confirmButtonColor: '#007bff'
                });
            }
        });

    </script>

