@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/pgprincipal.css" rel="stylesheet" />
<style>
    .fondo{
        background:#E8DCCA;
    }
     .container {
         max-width: 1200px; /* Establece un ancho máximo para el contenedor */
         margin: 0 auto; /* Centra el contenedor horizontalmente */
         padding: 0 20px; /* Agrega un margen a los lados */
         background-color: white;
     }

     .image-container {
         position: relative; /* Establece el contenedor como posicionado relativamente */
         width: 100%;
         height: auto;
     }

         .image-container img {
             width: 100%;
             height: auto;
             display: block;
         }

         .image-container span {
             position: absolute; /* Posiciona el encabezado de forma absoluta dentro del contenedor */
             top: 10px; /* Ajusta la distancia desde la parte superior */
             left: 10px; /* Ajusta la distancia desde la parte izquierda */
             color: black; /* Establece el color del texto */
             padding: 5px 10px; /* Agrega un poco de espacio alrededor del texto */
             margin: 0; /* Elimina el margen predeterminado del encabezado */
         }

    .fondo {
        margin: 0;
        padding: 0;
        height: 60vh;
        background-image: url("https://lendan.com/wp-content/uploads/2019/01/influencia-alimentacion-piel.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        z-index: 1;
        padding: 20px;
        color: black ;
    }

    .welcome {
        font-size: 36px;
        font-weight: bold;
        color: #333;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size:80px;
    }
</style>
<div class="image-container">
    <img src="https://d100mj7v0l85u5.cloudfront.net/s3fs-public/2022-09/cocina-sostenible.jpg">
    <span class="welcome">
        <br />
        Gracias por <br/>
        unirte a nuestra<br />
        comunidad.<br />
        <br />
        Bienvenido a <br />
        GastroWorld
    </span>
</div>
<br />
<div class="fondo">
    <div class="main-container">
        <div class="card-wrapper">
            <div class="card">
                <img src="~/imagenes/1097602.jpg" />
                alt="image">
                <div class="text-wrapper">
                    <a asp-area="" asp-controller="Zonasocial" asp-action="Zonasocial">
                        <h1 class="title">Zona social</h1>
                    </a>
                    <p>
                        En este espacio, tendrás la oportunidad de compartir tus experiencias, recetas, platillos y
                        lugares favoritos con los demás miembros de la comunidad.
                        Además, podrás intercambiar consejos sobre ingredientes, técnicas, La idea es fomentar un ambiente colaborativo donde
                        todos puedan aprender unos de otros, inspirarse y disfrutar de la diversidad culinaria que cada uno aporta.
                        ¡Anímate a participar y enriquecer nuestra comunidad con tus aportes!
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="~/imagenes/mesa-de-comida.png" />
                alt="image">
                <div class="text-wrapper">
                    <a asp-area="" asp-controller="Repositorio" asp-action="Repositorio">
                        <h1 class="title">Repositorio</h1>
                    </a>
                    <p>
                        Encuentra una variada cantidad de informacion relacionada a la gastronomia, tambien restaurantes recomendados.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<br />

