@{
    Layout = "_Layout";
}
<link href="~/css/sobrenosotros.css" rel="stylesheet" />
<style>
        .image {
        object-fit: cover;
        width: auto;
        height: auto;
        background-repeat: no-repeat;
        background-color:gray;
    }
    .letra{
        color:black;
    }
</style>
<link href="~/css/sobrenosotros.css" rel="stylesheet" />
<div class="fondo">
<div class="contenedor ">
    <div class="card">
        <div class="image">
        </div>
        <div class="content">
                <span class="title">
                    <h1>GastroWord</h1>
                </span>
            <p class="desc">
                GastroWord es una plataforma digital que organiza y facilita el acceso a información sobre gastronomía,
                nutrición y cocina. Ofrece recetas accesibles, consejos de compra y técnicas básicas para que cualquier persona,
                sin importar su experiencia, pueda mejorar su alimentación de manera saludable y económica autosustentable
                Nuestro Equipo • Juan Sebastián Sánchez, Diego Moreno y Víctor Díaz: Programadores junior apasionados por
                la tecnología y la gastronomía, trabajan en el desarrollo de GastroWord para hacerla intuitiva, accesible y
                funcional para todos.
            </p>
            <div class="image-container">
                <img src="~/imagenes/1.jpg" />
            </div>
        </div>
    </div>
</div>
</div>