@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/repositoriocss.css" rel="stylesheet" />
    <div class="fondo">
        <div class="gastrotitle">
            <h1 class="elegant-title">GastroCursos: Arte y Técnica en la Cocina</h1>
        </div>

        <!-- Barra de búsqueda y filtro -->
        <div class="filter-container">
            <input type="text" id="searchInput" placeholder="Buscar curso..." onkeyup="filterCourses()">
            <select id="filterSelect" onchange="filterCourses()">
                <option value="all">Todos</option>
                <option value="video">Videos</option>
                <option value="playlist">Playlists</option>
            </select>
        </div>

        <div class="Fcontainer">
            <!-- Tarjetas de cursos -->
            <div class="card">
                <img src="tecnicascul.png" class="card__image" />
                <div class="card__content">
                    <h5 class="card__title">10 TÉCNICAS CULINARIAS QUE TODO COCINERO DEBE SABER</h5>
                    <p class="card__description">Aprende las técnicas culinarias fundamentales.</p>
                    <a href="https://www.youtube.com/watch?v=LAVzPdTEPvA" target="_blank" class="card__link video">Ver Video</a>
                </div>
            </div>

            <div class="card">
                <img src="tecnicasc1.png" class="card__image" />
                <div class="card__content">
                    <h5 class="card__title">Técnicas básicas de cocina - Clase 1</h5>
                    <p class="card__description">Introducción a las técnicas básicas de cocina.</p>
                    <a href="https://www.youtube.com/watch?v=j_8AvR3Hi0o" target="_blank" class="card__link video">Ver Video</a>
                </div>
            </div>

            <div class="card">
                <img src="cortes2.png" class="card__image" />
                <div class="card__content">
                    <h5 class="card__title">Técnicas culinarias básicas y profesionales de cortes</h5>
                    <p class="card__description">Explora técnicas de corte y habilidades culinarias.</p>
                    <a href="https://www.youtube.com/playlist?list=PLTG2ZKD8oNOk92mPrXdATqUg2hU7e9Cq4" target="_blank" class="card__link playlist">Ver Playlist</a>
                </div>
            </div>

            <div class="card">
                <img src="cocif.png" class="card__image" />
                <div class="card__content">
                    <h5 class="card__title">Técnicas BÁSICAS DE COCINA</h5>
                    <p class="card__description">Habilidades imprescindibles para la cocina.</p>
                    <a href="https://www.youtube.com/playlist?list=PLXckHXbyMt6_Y7Kggiv9BfVAVwhWHHobF" target="_blank" class="card__link playlist">Ver Playlist</a>
                </div>
            </div>

            <div class="card">
                <img src="cortes.png" class="card__image" />
                <div class="card__content">
                    <h5 class="card__title">Cómo Hacer un Asado Perfecto</h5>
                    <p class="card__description">Secretos para un asado jugoso y lleno de sabor.</p>
                    <a href="https://www.youtube.com/watch?v=Z7SwhTZ5tOM&t=1s" target="_blank" class="card__link video">Ver Video</a>
                </div>
            </div>

            <div class="card">
                <img src="trucos.png" class="card__image" />
                <div class="card__content">
                    <h5 class="card__title">Técnicas Avanzadas de Cocina</h5>
                    <p class="card__description">Trucos y consejos para mejorar tus habilidades.</p>
                    <a href="https://www.youtube.com/watch?v=7BljXvdvFKk" target="_blank" class="card__link video">Ver Video</a>
                </div>
            </div>

            <div class="card">
                <img src="repostre.png" class="card__image" />
                <div class="card__content">
                    <h5 class="card__title">Postres y Repostería</h5>
                    <p class="card__description">Cómo hacer deliciosos postres profesionales.</p>
                    <a href="https://www.youtube.com/playlist?list=PL9Q4j89QUgHXKF0uY5YQR-l7BuzMPwoiG" target="_blank" class="card__link playlist">Ver Playlist</a>
                </div>
            </div>

            <div class="card">
                <img src="pastel.png" class="card__image" />
                <div class="card__content">
                    <h5 class="card__title">Tarta de queso y chocolate</h5>
                    <p class="card__description">Receta fácil para una tarta deliciosa.</p>
                    <a href="https://www.youtube.com/watch?v=vX-xLI1UVEo" target="_blank" class="card__link video">Ver Video</a>
                </div>
            </div>

            <div class="card">
                <img src="pudin.png" class="card__image" />
                <div class="card__content">
                    <h5 class="card__title">Budín de caramelo japonés</h5>
                    <p class="card__description">Aprende a hacer un delicioso budín japonés.</p>
                    <a href="https://www.youtube.com/watch?v=XvI3xm-b0ao" target="_blank" class="card__link video">Ver Video</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function filterCourses() {
            let input = document.getElementById("searchInput").value.toLowerCase();
            let filter = document.getElementById("filterSelect").value;
            let cards = document.getElementsByClassName("card");

            for (let card of cards) {
                let title = card.getElementsByClassName("card__title")[0].innerText.toLowerCase();
                let button = card.getElementsByClassName("card__link")[0];

                let isVideo = button.classList.contains("video");
                let isPlaylist = button.classList.contains("playlist");

                let matchesTitle = title.includes(input);
                let matchesFilter = (filter === "all" || (filter === "video" && isVideo) || (filter === "playlist" && isPlaylist));

                if (matchesTitle && matchesFilter) {
                    card.style.display = "block";
                } else {
                    card.style.display = "none";
                }
            }
        }
    </script>
